%section#intro
  .menu
    <a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#artists"><h1>Artists</h1></a>
    <a data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#releases"><h1>Releases</h1></a>
  .social-media
    Social Media

%section#artists
  %ul.artists-ul
    %li
      = image_tag("photo4.jpg")
      %h3 Nikeetz
      %p For Nikeetz music is the universal language. It is this universal appeal that has allowed Nikeetz to speak to so many people without ever having to say a word. His ability to capture sounds and project them so expressively is a gift. Music has always been a priority in Nikeetz’s life. Born in Kiev, Ukraine, Nikeetz aka Nikita Golubin, moved to Brooklyn, NY at the age of six. Since the moment he was born, music is his language of communication; playing on various instruments such as piano and Tuba. Music is his means of connectivity to the world. He can turn any observer into a dancer through the raw emotion and passion in his music. Influenced by New York’s and Spain’s underground nightlife, Nikeetz instinctively has taken so many on a journey into sound. With his flawless and imaginative mixing, that has landed him in Top NY Clubs, Cielo and TBA Brooklyn. Nikeetz continues to emulate great confidence and is a strong visionary. His groovy pulsing deep-house/tech-house tracks and mixes are inspirational and he credits his latest sound to his most current influences; Luciano, Loco-Dice, Maceo Plex, and Hot Since 82. As a DJ, producer Nikeetz eminent journey to captivate millions through his universal language of music has just begun.
    %li
      = image_tag("photo4.jpg")
      %h3 Eddy Krystal
      %p Eddie Krystal, real name Edward Krishtul, was born in Ukraine and moved to New York City in his infant stages. He was bitten by the production bug at 17 years old, starting out by making hip hop beats. Eventually, his taste evolved to electro and progressive house for several years until he discovered the dark side of techno. Recently, Eddie Krystal has given up the electro/progressive style to focus solely on the underground sounds of techno, tech house and deep house. His style is characterized by dark and hypnotizing grooves with unrelenting bass lines. His tracks will take you on an emotional auditory journey that you will surely enjoy.
    %li
      = image_tag("photo4.jpg")
      %h3 Boris Lips
      %p Hailing from Brooklyn, New York, Boris Lips is a deep tech aficionado, producer, DJ, and label pioneer aiming to bring Active Pulse to higher plateaus. His humble beginnings and diligent work ethic dictate every step of the label's collective journey towards an aligned vision of musical excellence. Characterized by his deep grooves and feel good synths, his atmospheric and spacey productions show that BL draws his inspiration from musical innovators: Richie Hawtin, Danny Tenaglia, Sven Vath, John Digweed, Guy Gerber and many more.
    %li
      = image_tag("photo4.jpg")
      %h3 Mike Hess
      %p Mike Hess, a style within itself. His music is a reflection of sensitivity and love for sound and rhythm. His DJ sets and productions reflect different moods and create variety, yet maintaining a unique style and balance. House, Techno, Disco, Deep, and Progressive sounds all in equilibrium to tell a story.
    %li
      = image_tag("photo4.jpg")
      %h3 Alon
      %p Alon is a NYC based DJ/Producer. Originally from Israel, Alon started Djing in the nightclubs and legendary underground raves from age 16. He developed an interest for music from a young age as both of his parents are musicians.He practiced playing the piano and attended many musical performances in his youth. His older brother was the one who introduced him to world of dance music, and he instantly fell in love. As a kid he would watch and listen to recordings of legends such as Paul Van Dyk, Carl Cox, John Digweed, Louie Devito, Jonathan Peters, Junior Vasquez, and many more. These tapes inspired him to pursue the magical journey of dance music. In 2013, Alon started his own series of events under the moniker LinkedUP, where he featured various talent alongside himself  from the New York City area, and performed in NYC nightclubs such as Lexicon, The Griffin NYC, Santos Party House, The Morgan and many More. Alon is always searching for the new sound that will keep the fundamental aspects of house music, and will always keep the dance floor rocking.
    %li
      = image_tag("photo4.jpg")
      %h3 Lyand
      %p Lyand is best known for his Groovy Sound that keeps the party in motion and the crowd on the dance floor. It takes specific elements to create a Vibe and Lyand has been experimenting with different styles in the playgrounds of New York City for years. When it comes to studio Lyand always tries to taking the power of technology to the next level by combining analog and digital worlds to develop his sound.
    %li
      = image_tag("photo4.jpg")
      %h3 Twinsax
      %p The Twinsax sound can be best described as something between the groovy underground and the rhythmic/exciting EDM sound. Twinsax is a music duo from the heart of Brooklyn NY. Although Conrad & Adam have been making music together for years, Twinsax did not form as a group until 2012 upon their release of a remix of the Joe Brunning track "Now Let Me See You Work”. Both born and raised in Brooklyn, Conrad & Adam grew up on dance music. Starting out from early age, they both remember listening to New York City’s 90's hit house music radio station: "KTU". Starting from there, they fell in love with dance music. Although listeners of all music genres, including Rock, Rap, Classical, Jazz, etc. the duo enjoys listening, playing and making groovy, high energy electronic dance music. Adam and Conrad became best buds in high school in 2005. Since that time their friendship has grown parallel with their love for house music. Both Adam and Conrad share a strong passion to make their own music and share it with the world.  Their primary goal is to inspire the next generation as the previous generation of artists has inspired them. Twinsax attributes their inspiration to such artists as Deadmau5, Carl Cox, EDX, Laidback Luke, Above & Beyond, Daft Punk, Swedish House Mafia, Armin van Buuren, Umek amongst many others. However, they strive to design their own sound and bring their own style to their music productions, with the goal to always bring something fresh to the scene. Now, the pair shares a studio space in Park Slope Brooklyn where they spend as their free time creating new music. Twinsax aims to create music within all sub-genres of the EDM category. Whether it may be House, Electro, Progressive, Tech, Tribal, Hardstyle, Trance or even Dubstep, there is no "1" category where you can classify these guys into. Twinsax believes there should not be any "categories" or "genres" in electronic music; it should just be called music.
    %li
      = image_tag("photo4.jpg")
      %h3 Pasha Knish
      %p Producer/DJ born in Ukraine and raised in Brooklyn, with strong house/techno influences from NY, Miami, Detroit and Berlin. This artist takes the art of frequency manipulation to a spiritual level, taking his listeners on a journey through time and space. With experience in some of the nicest spots in NYC, and having an official release out on Beatport, this aspiring artist has created his own theory about the music he plays: the bass makes you move, but the hats keep the groove.
%section#releases
%section#footer
  <a id='to-top' data-scroll data-speed="500" data-easing="easeInOutCubic" data-url="false" href="#intro"><span id='unicode'>&#8670;</span></a>




